#detallesRenglones input,
#detallesRenglones select {
    width: 100%;
}
.tdBotonEliminar {
    display: block;
}
.agregarRenglon {
    color: #fff;
    background: green;
    width:31px;
    text-align:center;
    font-size:10px;
}
#detallesRenglones input.eliminarRenglon {
    width: 30px;
}
table#detallesRenglones input {
    max-width: 90%;    
}

.eliminarRenglon {
    width:31px;
    text-align:center;
    color:#FF0000;
    font-size:10px;
}
.detalleProductoTexto {
    width: 96%;
    display: block
}